{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.DocLines}}
/// {{{.}}}
{{/Codec.DocLines}}
public struct {{Codec.Name}}: Codable, Equatable, {{Codec.Model.WktPackage}}._AnyPackable {
  {{#Fields}}
  {{^IsOneOf}}

  {{#Codec.DocLines}}
  /// {{{.}}}
  {{/Codec.DocLines}}
  public var {{Codec.Name}}: {{Codec.FieldType}}
  {{/IsOneOf}}
  {{/Fields}}
  {{#OneOfs}}

  {{#Codec.DocLines}}
  /// {{{.}}}
  {{/Codec.DocLines}}
  public var {{Codec.PropertyName}}: {{Codec.Name}}?
  {{/OneOfs}}

  {{! Provide a memberwise initializer, with defaults for each field. }}
  /// Initialize a new instance of `{{Codec.Name}}`.
  public init(
    {{#Fields}}
    {{^IsOneOf}}
    {{! Recall that fields can be Singular (and then Optional or not) or Repeated or Map }}
    {{#Singular}}
    {{^Optional}}
    {{Codec.Name}}: {{Codec.FieldType}} = {{Codec.FieldType}}(),
    {{/Optional}}
    {{#Optional}}
    {{Codec.Name}}: {{Codec.FieldType}} = nil,
    {{/Optional}}
    {{/Singular}}
    {{#Repeated}}
    {{Codec.Name}}: {{Codec.FieldType}} = [],
    {{/Repeated}}
    {{#Map}}
    {{Codec.Name}}: {{Codec.FieldType}} = [:],
    {{/Map}}
    {{/IsOneOf}}
    {{/Fields}}
    {{#OneOfs}}
    {{Codec.PropertyName}}: {{Codec.Name}}? = nil,
    {{/OneOfs}}
  ) {
    {{#Fields}}
    {{^IsOneOf}}
    self.{{Codec.Name}} = {{Codec.Name}}
    {{/IsOneOf}}
    {{/Fields}}
    {{#OneOfs}}
    self.{{Codec.PropertyName}} = {{Codec.PropertyName}}
    {{/OneOfs}}
  }
  {{#Messages}}

  {{> /templates/common/message}}
  {{/Messages}}
  {{#Enums}}

  {{> /templates/common/enum}}
  {{/Enums}}
  {{#OneOfs}}

  {{> /templates/common/oneof}}
  {{/OneOfs}}

  public static var _anyTypeUrl: String { return "{{Codec.TypeURL}}" }
  public init(fromAny any: {{Codec.Model.WktPackage}}.`Any`) throws {
    self = try {{Codec.Model.WktPackage}}._slowAnyDeserialize(Self.self, from: any)
  }
  public func _pack() throws -> {{Codec.Model.WktPackage}}.Struct {
    return try {{Codec.Model.WktPackage}}._slowAnySerialize(message: self)
  }
}
